<div class="p-form">
<form #projetoForm="ngForm" class="p-form2" (ngSubmit)="onSubmit()">

    <mat-form-field class="p-full-width">
      <mat-label>nome</mat-label>
      <input name="nome" ngModel required matInput>
    </mat-form-field>
  
    <mat-form-field class="p-full-width">
      <mat-label>dataInicio</mat-label>
      <input name="dataInicio" ngModel required matInput>
    </mat-form-field>
  
    <mat-form-field class="p-full-width">
      <mat-label>dataPrevisaoFim</mat-label>
      <input name="dataPrevisaoFim" ngModel required matInput>
    </mat-form-field>
  
    <mat-form-field class="p-full-width">
        <mat-label>dataFim</mat-label>
        <input name="dataFim" ngModel required matInput>
      </mat-form-field>
    
      <mat-form-field class="p-full-width">
        <mat-label>descricao</mat-label>
        <input name="descricao" ngModel required matInput>
      </mat-form-field>
    
      <mat-form-field class="p-full-width">
        <mat-label>status</mat-label>
        <input name="status" ngModel required matInput>
      </mat-form-field>

      <mat-form-field class="p-full-width">
        <mat-label>orcamento</mat-label>
        <input name="orcamento" ngModel required matInput>
      </mat-form-field>
    
    <mat-form-field class="p-full-width">
      <mat-label>risco</mat-label>
      <mat-select name="risco" required ngModel>
        <mat-option value="ALTO">ALTO</mat-option>
        <mat-option value="MEDIO">MEDIO</mat-option>
        <mat-option value="BAIXO">BAIXO</mat-option>
      </mat-select>
    </mat-form-field>
  
    <mat-form-field class="p-full-width">
      <mat-label>idGerente</mat-label>
      <input name="idGerente" ngModel required matInput>
    </mat-form-field>
    <p style="text-align: center;">
    <button type="submit" mat-raised-button color="primary">Gravar Projeto</button>
    </p>
  </form>
</div>