

     div.container {
        background-color:rgba(105, 203, 115, 0.5);
    }
    div.op3 {
      
        text-align: center;
     
        position: relative;
    }
    div.op1 {
        display: inline-block;
        text-align: center;
    }

    div.op2 {
        background-color:rgba(105, 203, 115, 0.5);
        display: inline-block;
        text-align: center;
        float:right;
    }