
  
  <mat-card>
    <mat-card-header>
      <mat-card-title>Atualizando: {{funcionario.nome}}</mat-card-title>
    </mat-card-header>
    <form #projetoForm="ngForm" (ngSubmit)="onSubmit()">

      <mat-form-field class="p-full-width">
        <mat-label>nome</mat-label>
        <input name="nome"  [(ngModel)]="funcionario.nome" required matInput>
      </mat-form-field>
    
      <mat-form-field class="p-full-width">
        <mat-label>datanascimento</mat-label>
        <input name="datanascimento" [(ngModel)]="funcionario.datanascimento" required matInput>
      </mat-form-field>
    
      <mat-form-field class="p-full-width">
        <mat-label>cpf</mat-label>
        <input name="cpf" [(ngModel)]="funcionario.cpf" required matInput>
      </mat-form-field>
    
      <mat-form-field class="p-full-width">
          <mat-label>é funcionario</mat-label>
          <input name="funcionario" [(ngModel)]="funcionario.funcionario" required matInput>
        </mat-form-field>
      
    <p>
      <button type="submit" mat-raised-button color="primary">Atualizar</button>
      <button onclick="reseta()" mat-raised-button color="warn">Cancelar</button>
    </p>
    </form>
  </mat-card>
